@tailwind base;
@tailwind components;
@tailwind utilities;

[dir="rtl"] .rtl\:text-right {
  text-align: right;
}

[dir="rtl"] .rtl\:text-left {
  text-align: left;
}

[dir="rtl"] .rtl\:mr-0 {
  margin-right: 0;
}

[dir="rtl"] .rtl\:ml-0 {
  margin-left: 0;
}

[dir="rtl"] .rtl\:mr-auto {
  margin-right: auto;
}

[dir="rtl"] .rtl\:ml-auto {
  margin-left: auto;
}
